body {
    background-color: #03056b;
}

h1{
    color: #ffff;
    text-align: center;
    font-family: sans-serif;
}

h2{
    color: #ffff;
    text-align: center;
    font-family: sans-serif;
    
}